{% extends 'base.html' %}
{% block content %}
These are all the leads
<a href="{% url 'leads:lead_create' %}">Create a lead</a>
<hr>

{% for lead in leads %}
<div class='leads'>
    <a href="{% url 'leads:lead_detail' lead.id %}">{{lead.first_name}}</a>
    {{lead.last_name}}
    {{lead.age}}
    {{lead.agent}}

    <br />
    <a href="{% url 'leads:lead_update' lead.id %}">Update</a>

    <a href="{% url 'leads:lead_delete' lead.id %}">Delete</a>
</div>
<br />
{% endfor %}
{% endblock content %}